In [16]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("housing.csv")

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Quesion 2

In [9]:
len(df.columns)

10

In [13]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

## Quesion 3

In [12]:
for colname in df.columns:
    if df[colname].hasnans:
        print(colname)

total_bedrooms

## Quesion 4

In [17]:
np.unique(df["ocean_proximity"])

array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
      dtype=object)

## Quesion 5

In [22]:
df[df["ocean_proximity"] == "NEAR BAY"]["median_house_value"].mean()

259212.31179039303

## Quesion 6

In [25]:
avg_bedrooms = df["total_bedrooms"].mean()
avg_bedrooms

537.8705525375618

In [29]:
bedrooms_fill = df["total_bedrooms"].fillna(ave_bedrooms)

In [30]:
bedrooms_fill.mean()

537.8705525375617

## Quesion 7

In [32]:
X = df[df["ocean_proximity"] == "ISLAND"][["housing_median_age", "total_rooms", "total_bedrooms"]].to_numpy()

In [35]:
XTX = np.matmul(X.T, X)

In [36]:
iXTX = np.linalg.inv(XTX)

In [37]:
y = [950, 1300, 800, 1000, 1300]

In [39]:
w = np.matmul(np.matmul(iXTX, X.T),y)

In [40]:
w[-1]

5.699229455065586